.bundle
.env
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*
config/config.yml
config/deploy.rb
config/deploy
config/mongoid.yml
config/newrelic.yml
config/unicorn.rb
.rvmrc
.idea
*~
*.rbc
.DS_Store
*.rbx
bin
bundle
coverage
*#
