.bundle
.env
db/*.sqlite3
storage/*.sqlite3
storage/*.sqlite3-*
storage/.mongo_to_sql_migrated
errbit_dump-*.archive
errbit_dump-*.archive.gz
log/*.log
tmp/**/*
tmp/*
config/config.yml
config/deploy.rb
config/deploy
config/mongoid.yml
.rvmrc
.idea
*~
*.rbc
.DS_Store
*.rbx
coverage
spec/examples.txt
*#
NOTES
*.swp
/node_modules
