language: ruby
rvm:
  - 2.1
  - 2.2
  - rbx-2
  - ruby-head
  - jruby-head
env:
  - RAILS_ENV=test COVERAGE=true JRUBY_OPTS=--debug
sudo: false
cache: bundler
services: mongodb
before_script: bundle exec rake errbit:bootstrap
script: bundle exec rspec
matrix:
  allow_failures:
    - rvm: rbx-2
    - rvm: ruby-head
    - rvm: jruby-head
