language: ruby
rvm:
  - 2.1
  - 2.2
  - 2.3.1
  - ruby-head
  - jruby-head
env:
  - COVERAGE=true JRUBY_OPTS=--debug
sudo: false
cache: bundler
before_script:
  - wget http://fastdl.mongodb.org/linux/mongodb-linux-x86_64-2.6.10.tgz -O /tmp/mongodb.tgz
  - tar -xvf /tmp/mongodb.tgz
  - mkdir /tmp/data
  - ${PWD}/mongodb-linux-x86_64-2.6.10/bin/mongod --dbpath /tmp/data --bind_ip 127.0.0.1 --auth &> /dev/null &
  - bundle exec rake errbit:bootstrap
script:
  - bundle exec rspec
  - bundle exec rubocop --lint
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
