services:
  errbit:
    image: "biow0lf/errbit-ng:main"
    ports:
      - "3000:3000"
    environment:
      RAILS_ENV: "production"
      MONGO_URL: "mongodb://mongo:27017/errbit"
  mongo:
    image: "mongo:4.0.28"
    ports:
      - "27017:27017"
