errbit:
  build: .
  ports:
    - "8080:8080"
  links:
    - mongo
  environment:
    - PORT=8080
    - RACK_ENV=production
    - MONGO_URL=mongodb://mongo:27017/errbit
mongo:
  image: mongo:4.0
  ports:
    - "27017"
