[project]
	description = The open source error catcher that's Airbrake API compliant
[access "refs/*"]
	owner = group user/Cyril Mougel (shingara)
[access "refs/for/refs/*"]
	read = group user/Cyril Mougel (shingara)
	push = group user/Cyril Mougel (shingara)
	label-Code-Review = -2..+2 group user/Cyril Mougel (shingara)
	label-Verified = -1..+1 group user/Cyril Mougel (shingara)
	rebase = group user/Cyril Mougel (shingara)
	removeReviewer = group user/Cyril Mougel (shingara)
	submit = group user/Cyril Mougel (shingara)
[access "refs/heads/*"]
	read = group user/Cyril Mougel (shingara)
	create = group user/Cyril Mougel (shingara)
	push = +force group user/Cyril Mougel (shingara)
	pushMerge = group user/Cyril Mougel (shingara)
[access "refs/tags/*"]
	push = +force group user/Cyril Mougel (shingara)
	pushTag = group user/Cyril Mougel (shingara)
	pushSignedTag = group user/Cyril Mougel (shingara)
