%tr{:class => defined?(row_class) && row_class}
  %td.line{:class => line.in_app? && 'in-app' }
    = line.link_to_source_file(app) do
      %span.path>= raw line.decorated_path
      %span.file>= line.file_name
      - if line.number.present?
        %span.number>= ":#{line.number}"
      - if line.column.present?
        %span.number>= ":#{line.column}"
    &rarr;
    %span.method= line.method
