.window
  %table.backtrace
    - lines.each do |line|
      - in_app = line['file'].gsub!('[PROJECT_ROOT]','') && !line['file'].match(/^\/vendor\//)
      - path = File.dirname(line['file']) + '/'
      - file = File.basename(line['file'])
      %tr{:class => (in_app ? 'in-app' : nil)}
        %td.line
          %span.path>= path
          %span.file= "#{file}:#{line['number']}"
          &rarr;
          %span.method= line['method']
