.window
  %table.backtrace
    -# Group lines into internal / external so we can toggle the external backtrace
    -# Includes a margin of x lines that are not toggled.
    - external_margin = 3
    - grouped_lines(lines).each do |in_app, line_group|
      - if !in_app && line_group.size > (external_margin * 3)
        = rows_for_line_segment(line_group, 0, external_margin)
        = rows_for_line_segment(line_group, 2, line_group.size - (external_margin * 2), 'hidden_external_backtrace')
        %tr
          %td.line.backtrace_separator
            %span ...
        = rows_for_line_segment(line_group, external_margin * -1, external_margin)

      - else
        - line_group.each do |line|
          = render :partial => "notices/backtrace_line", :locals => {:line => line}
