.window
  %table.backtrace
    %tr
      %th
        %ul.line-numbers
          - lines.each do |line|
            %li= (@app.github_url? && Notice.in_app_backtrace_line?(line)) ? link_to_github(@app, line, line['number']) : line['number']

      %td
        %ul.lines
          - lines.each do |line|
            - line['file'] = "[unknown source]" if line['file'].blank?
            - in_app = line['file'].gsub!('[PROJECT_ROOT]','') && !line['file'].match(/^\/vendor\//)
            %li{:class => (in_app ? 'in-app' : nil)}
              = line['file']
              &rarr;
              %strong= line['method']

