.window
  %table.backtrace
    %tr.padding
      %th
      %td
    - lines.each do |line|
      %tr
        %th.line-numbers= line_number_with_link(@app, line)
        %td.lines{:class => (Notice.in_app_backtrace_line?(line) ? 'in-app' : nil)}
          = line['file']
          &rarr;
          %strong= line['method']
    %tr.padding
      %th
      %td

