.window
  %table.backtrace
    - lines.each do |line|
      - path = File.dirname(line['file'])
      - path = path == "." ? "" : path + '/'
      - file = File.basename(line['file'])
      %tr
        %td.line{:class => (Notice.in_app_backtrace_line?(line) ? 'in-app' : nil)}
          %span.path>= path
          %span.file= line['number'].blank? ? file : ("#{file}:" + line_number_with_link(@app, line).to_s).html_safe
          &rarr;
          %span.method= line['method']

