<%# locals: (user_attributes:) %>

<div class="window">
  <table class="user_attributes">
    <tr>
      <td>
        <strong>The user who experienced the error:</strong>
      </td>
    </tr>

    <% user_attributes.each do |key, value| %>
      <tr>
        <th><%= key %></th>

        <% value = pretty_hash(value) if value.is_a?(Hash) %>

        <td><%= auto_link(ERB::Util.h(value)).html_safe %></td>
      </tr>
    <% end %>
  </table>
</div>
