.window
  %table.user_attributes
    %tr
      %td
        %strong The user who experienced the error:
    - user.each do |key, value|
      %tr
        %th= key
        - value = pretty_hash(value) if value.is_a?(Hash)
        %td= auto_link(ERB::Util.h(value)).html_safe
