<%# locals: (user_attributes:) %>

<div class="window">
  <table class="user_attributes">
    <tr>
      <td>
        <strong>The user who experienced the error:</strong>
      </td>
    </tr>
  </table>
</div>
