html {
  margin: 0; padding: 0;
  color: #585858; background-color: #E2E2E2;
  font-size: 62.8%; font-family: Helvetica, "Lucida Grande","Lucida Sans",Arial,sans-serif;
}
body {
  margin: 0; padding: 0;
  font-size: 1.3em; line-height: 1.4em;
}

/* Convenience Classes */
.float-left   { float: left; }
.float-right  { float: right; }
.clear        { clear: both; }
.clear-left   { clear: left; }
.clear-right  { clear: right; }
.nowrap       { white-space: nowrap; }

/* Headings */
h1, h2, h3, h4, h5, h6 { padding: 0.2em 0; margin-bottom: 1em; border-bottom: 1px solid #E2E2E2;}
h1 { font-size: 2.0em; line-height: 1.2em; text-shadow: 1px 1px 0px #FFF; -webkit-text-shadow: 1px 1px 0px #FFF;}
h2 { font-size: 1.7em; line-height: 1.2em; }
h3 { font-size: 1.5em; line-height: 1.2em; }
h4 { font-size: 1.3em; line-height: 1.2em; }
h5 { font-size: 1.1em; line-height: 1.2em; }
h6 { font-size: 0.9em; line-height: 1.2em; }

/* General */
p { margin-bottom: 1em; }

/* Links */
a         { color: #0069cc; text-decoration: none;}
a:visited { color: #0069cc;}
a:hover   { color: #0069cc; text-decoration: underline; }
a.action  { float: right; font-size: 0.9em;}

#header > div, #nav-bar, #content-wrapper, #footer {
  width: 930px;
  margin: 0 auto;
  position: relative;
}

/* Header */
#header {
  height: 75px;
  margin-bottom: 24px;
  border-bottom: 1px solid #fff;
  background: #000 url(images/header.png) 0 0 repeat-x;
}
#header #site-name {
  display: block;
  width: 88px;
  height: 31px;
  position: absolute;
  top: 22px;
  left: 2px;
  background: transparent url(images/logo.png) 0 0 no-repeat;
  text-indent: -5000em;
}
#header #session-links {
  position: absolute; top: 18px; right: 0;
  font-size: 0.9em;
}
#header #session-links li {
  float: right;
  margin-left: 10px;
  color: #FFF;
  background-color: #000;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid #484B4F;
  font-size: 14px;
  font-weight: bold;
}
#header #session-links li:hover {
  box-shadow: 0 0 3px #69c;
  -moz-box-shadow: 0 0 3px #69c;
  -webkit-box-shadow: 0 0 3px #69c;
}
#header #session-links a {
  color: #FFF;
  padding: 0 10px 0 30px;
  line-height: 37px;
}
#header #session-links a:hover {
  text-decoration: none;
}
#header #session-links #sign-out {
  background: transparent url(images/icons/bullet-red-sm.png) 12px 50% no-repeat;
}
#header #session-links #edit-profile {
  padding-left: 10px;
}

/* Navigation */
#nav-bar {
  margin-bottom: 24px;
  height: 41px;
}
#nav-bar li {
  float: left;
  margin-right: 18px;
  color: #666;
  background: #FFF url(images/button-bg.png) 0 bottom repeat-x;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 1px solid #bbb;
}
#nav-bar li a {
  color: #666;
  display: block;
  padding: 0 20px 0 40px;
  font-size: 14px; font-weight: bold; line-height: 39px; text-decoration: none;
  text-shadow: 1px 1px 0px #FFF; -webkit-text-shadow: 1px 1px 0px #FFF;
  background: transparent 10px 8px no-repeat;
}
#nav-bar li a:hover { color: #666;}
#nav-bar li.apps a { background-image: url(images/icons/briefcase.png); }
#nav-bar li.errs a { background-image: url(images/icons/error.png); }
#nav-bar li.users a { background-image: url(images/icons/user.png); }
#nav-bar li:hover {
  box-shadow: 0 0 3px #69c;
  -moz-box-shadow: 0 0 3px #69c;
  -webkit-box-shadow: 0 0 3px #69c;
}
#nav-bar li.active {
  border-color: #fff;
  background-color: #CCC;
  background-image: none;
  box-shadow: inset 0 0 5px #999;
  -moz-box-shadow: inset 0 0 5px #999;
  -webkit-box-shadow: inset 0 0 5px #999;
}

/* Content Wrapper */
#content-wrapper {
  border: 1px solid #C6C6C6;
}

/* Content Title */
#content-title {
  padding: 30px 20px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  background-color: #e2e2e2;
}
#content-title h1 {
  padding: 0; margin: 0;
  width: 85%;
  border: none;
  color: #666;
  font-size: 2em; line-height: 1em; font-weight: bold; font-family: arial, sans-serif;
  word-wrap: break-word;
}
#content-title .meta { font-size: 0.9em; color: #787878; }

/* Action Bar */
#action-bar {
  position: absolute;
  top: 25px; right: 20px;
}
#action-bar span {
  display: inline-block;
  margin-left: 18px;
  text-decoration: none;
  color: #666;
  background: #FFF url(images/button-bg.png) 0 bottom repeat-x;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 1px solid #bbb;
}
#action-bar span a {
  color: #666;
  display: block;
  padding: 0 20px 0 40px;
  font-size: 14px; font-weight: bold; line-height: 39px; text-decoration: none;
  text-shadow: 1px 1px 0px #FFF; -webkit-text-shadow: 1px 1px 0px #FFF;
  background: transparent 10px 8px no-repeat;
}
#action-bar a:hover { text-decoration: none;}
#action-bar span:hover {
  box-shadow: 0 0 3px #69c;
  -moz-box-shadow: 0 0 3px #69c;
  -webkit-box-shadow: 0 0 3px #69c;
}
#action-bar a.add {
  background-image: url(images/icons/add.png);
}

/* Content */
#content {
  padding: 20px; border-top: 1px solid #C6C6C6;
  background-color: #FFF;
}

#content a.button {
  float: right;
  display: block;
  margin-bottom: 10px;
}

/* Footer */
#footer {
  padding: 20px 0;
  font-size: 0.8em; text-align: center;
  color: #929292;
}

/* Flash Messages */
#flash-messages li {
  padding: 13px 45px;
  margin-bottom:25px;
  border: 1px solid #C6C6C6;
  background-color: #F9F9F9;
  line-height: 1em;
}
#flash-messages li.notice {
  padding-left: 20px;
  background-color: #b5eeff;
  border: 1px solid #6cf;
}
#flash-messages li.success {
  background: #cfc url(images/icons/success.png) 16px 50% no-repeat;
  border: 1px solid #6c3;
}
#flash-messages li.error {
  background: #fcc url(images/icons/error.png)   16px 50% no-repeat;
  border: 1px solid #f99;
}
#flash-messages .alert {
  background: #ffc url(images/icons/warning.png) 10px 7px no-repeat;
  border-color: #e4bb69;
}

/* Forms */
form {
  width: 620px;
}
form > div, form fieldset > div { margin: 1em 0;}
form fieldset {
  padding: 0.8em; margin-bottom: 1em;
  background-color: #F0F0F0; border: 1px solid #C6C6C6; border-left: none; border-right: none;
}
form fieldset legend {
  font-size: 1.2em; font-weight: bold; text-transform: uppercase;
  color: #555;
}
form label {
  font-weight: bold; text-transform: uppercase; line-height: 1.6em;
  display: inline-block;
}
form label.inline { display: inline; }
form .checkbox label { display: inline; }
form .required label { padding-right: 20px; background: transparent url(images/icons/required.png) right 50% no-repeat; }
form .field_with_errors label { color: #900; }
form input[type=text], form input[type=password] {
  width: 96%; padding: 0.8em;
  font-size: 1em;
  color: #787878; border: 1px solid #C6C6C6;
}
form textarea {
  width: 100%; padding: 0.8em;
  font-size: inherit; font-family: inherit;
  color: #787878; border: 1px solid #C6C6C6;
}
form textarea.short { height: 8em; }
form textarea.supershort { height: 4em; }
form input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
  box-shadow: 0px 0px 4px #69C;
  -moz-box-shadow: 0px 0px 4px #69C;
  -webkit-box-shadow: 0px 0px 4px #69C
}
form input[type=checkbox]:focus + label{
  color: #69C;
}
form input[type=submit] {
  display:block; width: auto; padding: 0.5em;
  font-size: 1.2em; line-height: 1em; text-transform: uppercase;
  border: none; color: #FFF; background-color: #387fc1;
}
form div.buttons {
  color: #666;
  background: #FFF url(images/button-bg.png) 0 bottom repeat-x;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 1px solid #bbb;
  display: inline-block;
}
form div.buttons:hover {
  color: #666;
  box-shadow: 0 0 3px #69c;
  -moz-box-shadow: 0 0 3px #69c;
  -webkit-box-shadow: 0 0 3px #69c;
}
form div.buttons input, form div.buttons button {
  padding: 0 20px;
  color: #666;
  background: none;
  display: inline-block;
  height: 36px;
  font-size: 14px; font-weight: bold; line-height: 36px; text-decoration: none;
  text-shadow: 1px 1px 0px #FFF;
  -moz-text-shadow: 1px 1px 0px #FFF;
  -webkit-text-shadow: 1px 1px 0px #FFF;
  border: none;
}
form div.buttons button.sign_in {
  padding-left: 40px;
  background: transparent url(images/icons/right-arrow.png) 3px 3px no-repeat;
}
form > div > span {
  display: block; margin-top: 0.5em;
  font-size: 0.85em;
  color: #787878;
}
form strong.option {
  display: block;
  margin: 0.7em 0;
  color: #999;
}

form .nested {
  border-top: 1px dotted #BBB;
  margin-top: 1.5em;
  padding-top: 1.5em;
}

form legend + .nested {
  border: none;
  margin-top: 0;
  padding-top: 0;
}

form .error-messages {
  padding: 13px;
  background: #fcc;
  border: 1px solid #f99;
}

form .error-messages h2 {
  font-size: 1.2em;
  border-color: #F99;
}
form .error-messages ul {
  margin-left: 2em;
  list-style-type: square;
}

/* Tables */
table {
  width: 100%;
  border: 1px solid #C6C6C6;
  margin-bottom: 1.5em;
  border-collapse: separate;
}
table thead th {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}
table tbody tr:first-child td {
  border-top: 1px solid #C6C6C6;
}
table th, table td {
  border-top: 1px solid #C6C6C6;
  padding: 10px 8px;
  text-align: left;
}
table th { background-color: #E2E2E2; font-weight: bold; text-transform: uppercase; white-space: nowrap; }
table tbody tr:nth-child(odd) td { background-color: #F9F9F9; }
table .main { width: 100%; }

table.single_user {
  border-top: none;
}
/* Code */
pre {
  padding: 0.8em;
  margin-bottom: 1em;
  color: #f0f0f0;
  background-color: #222;
  border: 1px solid #444;
  font-family: monaco, courier, monospace;
  font-size: 1.1em;
}

/* HTML Styling */
.html { padding-left: 1em; border-left: 2px solid #C6C6C6;}
.html h1, .html h2, .html h3, .html h4, .html h5, .html h6 {
  border: none;
}
.html ul, .html ol  { margin-left: 2em; margin-bottom: 1em; }
.html ul li   { margin-bottom: 0.5em; list-style: disc; }
.html ol li   { margin-bottom: 0.5em; list-style: decimal; }

/* Pagination */
.pagination {
  margin: 24px 0;
  text-align: center;
}
.pagination a, .pagination em, .pagination span {
  display: inline-block;
  padding: 0 0.8em;
  margin: 0 0.2em;
  line-height: 30px;
  color: #666;
  background: #FFF url(images/button-bg.png) 0 50% repeat-x;
  border: 1px solid #BBB;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.pagination a:hover {
  text-decoration: none !important;
  box-shadow: 0px 0px 4px #69C;
  -moz-box-shadow: 0px 0px 4px #69C;
  -webkit-box-shadow: 0px 0px 4px #69C
}
.pagination .previous_page, .pagination .next_page {
  padding: 0 1em;
  margin: 0 2.5em 0 0;
  line-height: 39px;
  border-radius: 39px;
  -moz-border-radius: 39px;
  -webkit-border-radius: 39px;
}
.pagination .next_page {
  margin: 0 0 0 2.5em;
}
.pagination .disabled {
  opacity: 0.5;
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
  cursor: no-drop;
}
.pagination em {
  padding: 0em 0.6em;
  line-height: 26px;
  background-color: #CCC;
  background-image: none;
  border-color: #FFF;
  box-shadow: inset 0 0 5px #999;
  -moz-box-shadow: inset 0 0 5px #999;
  -webkit-box-shadow: inset 0 0 5px #999;
  font-style: normal;
}
.pagination .gap {
  padding: 0 0.4em;
  border: none;
  background: none;
}

/* Buttons */
a.button {
  display: inline-block;
  padding: 0 0.8em;
  margin-left: 0.5em;
  color: #666;
  background-color: #EBEBEB;
  border: 1px solid #BBB;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  box-shadow: inset 0px 0px 4px #FFF;
  -moz-box-shadow: inset 0px 0px 4px #FFF;
  -webkit-box-shadow: inset 0px 0px 4px #FFF;
  line-height: 30px;
}
a:hover.button {
  box-shadow: 0px 0px 4px #ccc;
  -moz-box-shadow: 0px 0px 4px #ccc;
  -webkit-box-shadow: 0px 0px 4px #ccc;
  text-decoration: none;
  background-color: #eee;
}
a.button.active {
  border-color: #fff;
  background-color: #CCC;
  background-image: none;
  box-shadow: inset 0 0 5px #999;
  -moz-box-shadow: inset 0 0 5px #999;
  -webkit-box-shadow: inset 0 0 5px #999;
}

/* Tab Bar */
.tab-bar {
  margin-bottom: 24px;
  background-color: #E2E2E2;
  border: 1px solid #BBB;
}
.tab-bar ul {
  padding: 9px 12px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}
.tab-bar li {
  display: inline-block;
  margin-right: 14px;
}

/* Watchers and Issue Tracker Forms */
div.nested.watcher .user, div.nested.watcher .email, div.issue_tracker.nested .lighthouseapp, div.issue_tracker.nested .redmine, div.issue_tracker.nested .pivotal {
  display: none;
}
div.nested.watcher .choosen, div.nested.issue_tracker .chosen {
  display: block;
}

div.nested.watcher .choose, div.nested.issue_tracker .choose {
  margin-bottom: 0.5em;
}


/* Apps Table */
table.apps tbody tr:hover td ,table.errs tbody tr:hover td { background-color: #F2F2F2;}

table.apps td.name, table.errs td.message {
  width: 100%;
}
td.deploy {
  white-space: nowrap;
}
td.latest {
  white-space: nowrap;
}
td.count {
  text-align: center;
}

.count a {
  display: inline-block;
  padding: 0.1em 0.7em;
  color: #fff;
  background: #cc0033 url(images/error-badge-bg.png) 0 bottom repeat-x;
  border: 1px solid #900;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  font-weight: bold;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8
}
.count a:hover {
  text-decoration: none;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
}

/* Err Tables */
table.errs td.app {
  padding-right: 2em;
}
table.errs td.app .environment {
  font-size: 0.8em;
  color: #999;
}
table.errs td.message a {
  width: 420px;
  display: block;
  word-wrap: break-word;
}
table.errs td.message em {
  color: #727272;
  font-size: 0.9em;
}
table.errs tr.resolved td > * {
  opacity: 0.5;
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
}

/* Tally tables */
table.tally {
  border:none;
}
table.tally td,
table.tally th {
  border:none !important;
  background:none !important;
  padding:8px 0 0;
}
table.tally tbody tr:first-child td,
table.tally tbody tr:first-child th {
  padding-top:0;
}
table.tally td.percent {
  width:4.5em;
}
table.tally th.value {
  text-transform:none;
}

/* Resolve Errs */
#action-bar a.resolve {
  background: transparent url(images/icons/thumbs-up.png) 6px 5px no-repeat;
}

#action-bar a.lighthouseapp_create {
  background: transparent url(/images/lighthouseapp_create.png) 6px 5px no-repeat;
}

#action-bar a.redmine_create {
  background: transparent url(/images/redmine_create.png) 6px 5px no-repeat;
}

#action-bar a.pivotal_create {
  background: transparent url(/images/pivotal_create.png) 6px 5px no-repeat;
}

#action-bar a.lighthouseapp_goto {
  background: transparent url(/images/lighthouseapp_goto.png) 6px 5px no-repeat;
}

#action-bar a.redmine_goto {
  background: transparent url(/images/redmine_goto.png) 6px 5px no-repeat;
}

#action-bar a.pivotal_goto {
  background: transparent url(/images/pivotal_goto.png) 6px 5px no-repeat;
}

/* Notices Pagination */
.notice-pagination {
  float: left;
  margin-right: 2em;
}

/* Backtrace */
.window {
  width: 100%;
  margin-bottom: 1em;
  overflow: auto;
}
.window table {
  margin: 0;
}
table.backtrace td {
  width: 100%;
  padding: 0;
  margin: 0;
  color: #A2A2A2;
  background-color: #222 !important;
}
table.backtrace ul.line-numbers li {
  text-align: right;
}
table.backtrace ul.lines {
  padding: 10px 8px;
  overflow: auto;
}
table.backtrace li {
  white-space: nowrap;
}
table.backtrace li.in-app {
  color: #2adb2e;
  background-color: #2f2f2f;
}
