*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

.hg,
.hg-body {
  display: flex;
  flex-direction: column;
}

.hg-nav {
  order: -1;
}

@media (min-width: 768px) {
  .hg-body {
    flex-direction: row;

    flex: 1;
  }
  .hg-content {
    padding-right: 420px;
    overflow: hidden;

    flex: 1;
  }
  .hg-nav {
    padding: 16px;
    margin-top: 20px;
    /* 12em is the width of the columns */

    flex: 0 0 12em;
  }
}

.hg .content {
  width: 80%;
  margin: 0 auto;
}
