- content_for :title, 'New User'
- content_for :action_bar, link_to('cancel', users_path, :class => 'button')

= form_for user do |f|

  = render 'fields', :f => f

  %div.buttons= f.submit 'Add User'
