<% content_for :title, t(".title") %>

<% content_for :action_bar, link_to(t(".cancel"), users_path, class: "button") %>

<%# TODO: remove `url: users_path` after migration %>
<%= form_for @user, url: users_path do |f| %>
  <%= render "fields", f: f, user: @user %>

  <div class="buttons">
    <%= f.submit t(".add_user") %>
  </div>
<% end %>
