- unless flash.keys.empty?
  - flash.each do |type, message|
    - alert_type = { 'alert' => 'warning', 'error' => 'danger', 'success' => 'success'}[type.to_s] || 'info'
    %div{ class: "alert alert-#{alert_type}"}
      = message
