- if Errbit::Config.github_authentication && user == current_user
  - if user.github_account?
    %span.github= link_to t("users.show.unlink_account", account: Errbit::Config.github_site_title), unlink_github_user_path(user), :method => :delete, :data => { :confirm => "Are you sure?" }, class: 'btn btn-warning'
  - else
    %span.github= link_to t("users.show.link_account", account: Errbit::Config.github_site_title), user_omniauth_authorize_path(:github), class: 'btn btn-default'
