- if Errbit::Config.google_authentication && user == current_user
  - if user.google_account?
    %span.google= link_to t("users.show.unlink_account", account: Errbit::Config.google_site_title), unlink_google_user_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning'
  - else
    %span.google= link_to t("users.show.link_account", account: Errbit::Config.google_site_title), user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-default'
