%ul.nav.nav-sidebar.nav-menu
  %li.active= link_to t('.apps'), apps_path, "class" => "glyphicon glyphicon-briefcase"
  %li= link_to t('.errors'), problems_path, "class" => "glyphicon glyphicon-warning-sign"
  %li= link_to t('.users'), users_path, "class" => "glyphicon glyphicon-user"
