#nav-bar
  %ul
    //%li= link_to 'Dashboard', admin_dashboard_path, :class => active_if_here(:dashboards)
    %li= link_to 'Projects',  projects_path,  :class => active_if_here(:projects)
    %li= link_to 'Errors',    errs_path,      :class => active_if_here(:errs => :index)
  %div.clear