#nav-bar
  %ul
    %li.apps{:class => active_if_here(:apps)}= link_to t('.apps'), apps_path
    %li.errs{:class => active_if_here(:problems)}= link_to t('.errors'), problems_path
    - if user_signed_in? && current_user.admin?
      %li.users{:class => active_if_here(:users)}= link_to t('.users'), users_path
  %div.clear
