#nav-bar
  %ul
    //%li= link_to 'Dashboard', admin_dashboard_path, :class => active_if_here(:dashboards)
    %li.apps{:class => active_if_here(:apps)}= link_to 'Apps', apps_path
    %li.errs{:class => active_if_here(:errs)}= link_to 'Errors', errs_path
    - if user_signed_in? && current_user.admin?
      %li.users{:class => active_if_here(:users)}= link_to 'Users', users_path
  %div.clear