- content_for :title, 'Projects'
- content_for :action_bar, link_to('new project', new_project_path)

%table.projects
  %thead
    %tr
      %th Name
      %th Last Deploy
      %th Errors
  %tbody
    - @projects.each do |project|
      %tr
        %td.name= link_to project.name, project_path(project)
        %td.deploy= project.last_deploy_at ? project.last_deploy_at.to_s(:micro) : 'n/a'
        %td.count= link_to project.errs.unresolved.count, project_errs_path(project)