defaults: &defaults
  host: <%= ENV.fetch("ERRBIT_HOST", "errbit.example.com") %>
  confirm_err_actions: <%= ENV.fetch("ERRBIT_CONFIRM_ERR_ACTIONS", "true") == "true" %>
  user_has_username: <%= ENV.fetch("ERRBIT_USER_HAS_USERNAME", "false") == "true" %>
  use_gravatar: <%= ENV.fetch("ERRBIT_USE_GRAVATAR", "false") == "true" %>
  gravatar_default: <%= ENV.fetch("ERRBIT_GRAVATAR_DEFAULT", "identicon") %>
  email_from: <%= ENV.fetch("ERRBIT_EMAIL_FROM", "errbit@example.com") %>
  email_at_notices: <%= ENV.fetch("ERRBIT_EMAIL_AT_NOTICES", "[1, 10, 100]").gsub("[", "").gsub("]", "").split(",").map(&:to_i) %>
  per_app_email_at_notices: <%= ENV.fetch("ERRBIT_PER_APP_EMAIL_AT_NOTICES", "false") == "true" %>
  notify_at_notices: <%= ENV.fetch("ERRBIT_NOTIFY_AT_NOTICES", "[0]").gsub("[", "").gsub("]", "").split(",").map(&:to_i) %>
  per_app_notify_at_notices: <%= ENV.fetch("ERRBIT_PER_APP_NOTIFY_AT_NOTICES", "false") == "true" %>
  log_location: <%= ENV.fetch("ERRBIT_LOG_LOCATION", "STDOUT") %>
  notice_deprecation_days: <%= ENV.fetch("ERRBIT_PROBLEM_DESTROY_AFTER_DAYS", nil) %>

  github_url: <%= ENV.fetch("GITHUB_URL", "https://github.com") %>
  github_authentication: <%= ENV.fetch("GITHUB_AUTHENTICATION", "false") == "true" %>
  github_client_id: <%= ENV.fetch("GITHUB_CLIENT_ID", nil) %>
  github_secret: <%= ENV.fetch("GITHUB_SECRET", nil) %>
  github_org_id: <%= ENV.fetch("GITHUB_ORG_ID", nil) %>
  github_access_scope: <%= ENV.fetch("GITHUB_ACCESS_SCOPE", "[repo]").gsub("[", "").gsub("]", "").split(",") %>
  github_api_url: <%= ENV.fetch("GITHUB_API_URL", "https://api.github.com") %>
  github_site_title: <%= ENV.fetch("GITHUB_SITE_TITLE", "GitHub") %>

  google_authentication: <%= ENV.fetch("GOOGLE_AUTHENTICATION", "false") == "true" %>
  google_auto_provision: <%= ENV.fetch("GOOGLE_AUTO_PROVISION", "false") == "true" %>
  google_site_title: <%= ENV.fetch("GOOGLE_SITE_TITLE", "Google") %>
  google_client_id: <%= ENV.fetch("GOOGLE_CLIENT_ID", nil) %>
  google_secret: <%= ENV.fetch("GOOGLE_SECRET", nil) %>
  google_redirect_uri: <%= ENV.fetch("GOOGLE_REDIRECT_URI", nil) %>
  google_authorized_domains: <%= ENV.fetch("GOOGLE_AUTHORIZED_DOMAINS", "").split(",") %>

  email_delivery_method: <%= ENV.fetch("EMAIL_DELIVERY_METHOD", nil) %>
  smtp_address: <%= ENV.fetch("SMTP_SERVER", nil) %>
  smtp_port: <%= ENV.fetch("SMTP_PORT", nil) %>
  smtp_domain: <%= ENV.fetch("SMTP_DOMAIN", nil) %>
  smtp_user_name: <%= ENV.fetch("SMTP_USERNAME", nil) %>
  smtp_password: <%= ENV.fetch("SMTP_PASSWORD", nil) %>
  smtp_authentication: <%= ENV.fetch("SMTP_AUTHENTICATION", nil)&.to_sym %>
#  smtp_enable_starttls_auto: ["SMTP_ENABLE_STARTTLS_AUTO"],
#  smtp_openssl_verify_mode: ["SMTP_OPENSSL_VERIFY_MODE"],
#  smtp_domain: ["SMTP_DOMAIN", "SENDGRID_DOMAIN", lambda do |values|
#    values[:smtp_domain] ||
#                           (values[:email_from] && values[:email_from].split("@").last) || nil
#                           end],

#  # sendmail settings
#  sendmail_location: ["SENDMAIL_LOCATION"],
#  sendmail_arguments: ["SENDMAIL_ARGUMENTS"],

  devise_modules: ["database_authenticatable", "recoverable", "rememberable", "trackable", "validatable", "omniauthable"]

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
