defaults: &defaults
  host: <%= ENV.fetch("ERRBIT_HOST", "errbit.example.com") %>
  user_has_username: <%= ENV.fetch("ERRBIT_USER_HAS_USERNAME", "false") == "true" %>
  confirm_err_actions: <%= ENV.fetch("ERRBIT_CONFIRM_ERR_ACTIONS", "true") == "true" %>
  email_at_notices: [1, 10, 100]
  per_app_email_at_notices: <%= ENV.fetch("ERRBIT_PER_APP_EMAIL_AT_NOTICES", "false") == "true" %>
  devise_modules: ["database_authenticatable", "recoverable", "rememberable", "trackable", "validatable", "omniauthable"]
  email_from: <%= ENV.fetch("ERRBIT_EMAIL_FROM", "errbit@example.com") %>
  github_authentication: <%= ENV.fetch("GITHUB_AUTHENTICATION", "false") == "true" %>
  github_client_id: <%= ENV.fetch("GITHUB_CLIENT_ID", "") %>
  github_secret: <%= ENV.fetch("GITHUB_SECRET", "") %>
  github_url: <%= ENV.fetch("GITHUB_URL", "https://github.com") %>
  github_api_url: <%= ENV.fetch("GITHUB_API_URL", "https://api.github.com") %>
  github_access_scope: <%= ENV.fetch("GITHUB_ACCESS_SCOPE", "repo") %>
  github_site_title: <%= ENV.fetch("GITHUB_SITE_TITLE", "GitHub") %>
  google_authentication: <%= ENV.fetch("GOOGLE_AUTHENTICATION", "false") == "true" %>
  google_site_title: <%= ENV.fetch("GOOGLE_SITE_TITLE", "Google") %>
  google_auto_provision: <%= ENV.fetch("GOOGLE_AUTO_PROVISION", "false") == "true" %>
  google_client_id: <%= ENV.fetch("GOOGLE_CLIENT_ID", "") %>
  google_secret: <%= ENV.fetch("GOOGLE_SECRET", "") %>
  google_redirect_uri: <%= ENV.fetch("GOOGLE_REDIRECT_URI", "") %>
  google_authorized_domains: <%= ENV.fetch("GOOGLE_AUTHORIZED_DOMAINS", "") %>
  use_gravatar: <%= ENV.fetch("ERRBIT_USE_GRAVATAR", "false") == "true" %>
  gravatar_default: <%= ENV.fetch("ERRBIT_GRAVATAR_DEFAULT", "identicon") %>

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
