%pre
  %code
    :preserve

      # Require the hoptoad_notifier gem in you App.
      # --------------------------------------------
      #
      # Rails 3 - In your Gemfile
      #  gem 'hoptoad_notifier'
      #
      # Rails 2 - In environment.rb
      #  config.gem 'hoptoad_notifier'
      #
      # Then add the following to config/initializers/errbit.rb
      # -------------------------------------------------------
      HoptoadNotifier.configure do |config|
        config.api_key = '#{app.api_key}'
        config.host    = '#{request.host}'
        config.port    = #{request.port}
        config.secure  = config.port == 443
      end
      #
      # Testing
      # -------
      #
      # Rails 2 - you'll need to vendor hoptoad_notifier to get the rake tasks
      #  rake gems:unpack GEM=hoptoad_notifier
      #
      # Run:
      #  rake hoptoad:test
      #  refresh this page

