<%= form_tag search_apps_path, method: :get do %>
  <div class="col">
    <%= text_field_tag :search, params[:search], placeholder: t(".search_placeholder"), class: "form-control" %>
  </div>
<% end %>
