<%# locals: (apps:) %>

<table class="apps">
  <thead>
    <tr>
      <th><%= t(".name") %></th>
      <% if any_github_repos? || any_bitbucket_repos? %>
        <th><%= t(".repository") %></th>
      <% end %>

    </tr>
  </thead>
</table>
