%tr
  %td.section
    %table(cellpadding="0" cellspacing="0" border="0" align="left")
      %tbody
        %tr
          %td.content(valign="top")
            %div
              %p
                Hello,
              %p
                We hear you'd like to change your password. You can do that by visiting the link below:
              %p
                = edit_password_url @resource, :reset_password_token => @token
        %tr
          %td.content(valign="top")
            %div
              %p
                If you didn't request this, please ignore this email.
              %p
                Your password won't change unless you click the link above and set a new one.

