- content_for :title, 'Global Filters'
- content_for :action_bar do
  %span= link_to('Add a New Global Filter', new_filter_path, :class => 'add')

%table.filters
  %thead
    %tr
      %th Message
      %th Error Class
      %th URL
      %th Where
  %tbody
    = render filters
