<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Errbit</title>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body class="wide">
    {% include header.html %}
    <div class="body">
      <div class="container">
        <div id="pinned" class="nav">
          {% include nav.html %}
        </div>
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
    <script src="{{ "/js/vendor/jquery-2.2.3.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
      $(function() {
        console.log("jQuery is ready!");
        // jQuery add class
        $("body").addClass("hero");
        // Sticky-Kit
        $("#pinned").stick_in_parent();
      });
    </script>
  </body>
</html>
