<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  </head>
  <body class="hg">
    <header></header>
    <div class="hg-body">
      <main class="hg-content">{{ content }}</main>
      <nav class="hg-nav">
        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/docs/master">Docs</a>
            <ol>
              {% for version in site.docs.versions %}
                <li><a href="/docs/{{ version }}">{{ version }}</a></li>
              {% endfor %}
            </ol>
          </li>
        </ol>
      </nav>
    </div>
    <footer></footer>
  </body>
</html>
