<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Errbit</title>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body class="wide">
    <header>
      <a href="/"></a>
    </header>
    <div class="body">
      <div class="container">
        <main class="content">
          {{ content }}
        </main>
        <nav class="nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/docs/master">Docs</a>
              <ul>
                {% for version in site.docs.versions %}
                  <li><a href="/docs/{{ version }}">{{ version }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <footer>
      <div class="container">
        <p><small>something...</small></p>
      </div>
    </footer>
    {% include scripts.html %}
  </body>
</html>
