name: Bundler audit

on:
  push:
    branches:
      - main
      - 0-10-stable
  pull_request:
    branches:
      - main
      - 0-10-stable
  workflow_dispatch: {}
  schedule:
    - cron: "0 21 * * 6"

permissions:
  contents: read

jobs:
  bundler-audit:
    runs-on: ubuntu-24.04

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo-and-containers: true
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Ruby
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          rubygems: "3.6.9"
          bundler: "2.6.9"
          bundler-cache: true
      - run: bin/bundle-audit update
      - run: bin/bundle-audit
