name: JRuby

on:
  push:
    branches:
      - main
      - 0-10-stable
  pull_request:
    branches:
      - main
      - 0-10-stable
  workflow_dispatch: {}
  schedule:
    - cron: "0 21 * * 6"

permissions:
  contents: read

env:
  JRUBY_OPTS: "--debug"
  CI: "true"
  SE_AVOID_STATS: "true"

jobs:
  rspec:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        ruby: ["jruby-9.4"]
        mongodb-version: ["4.0", "4.2", "4.4", "5.0", "6.0", "7.0", "8.0"]

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Ruby
        uses: ruby/setup-ruby@90be1154f987f4dc0fe0dd0feedac9e473aa4ba8 # v1.286.0
        with:
          ruby-version: ${{ matrix.ruby }}
          rubygems: "3.6.9"
          bundler: "2.6.9"
          bundler-cache: true

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@315db7fe45ac2880b7758f1933e6e5d59afd5e94 # 1.12.1
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - run: bundle exec rails zeitwerk:check
      - run: bundle exec rails assets:precompile
      - run: bundle exec rake errbit:bootstrap
      - run: bundle exec rspec
