name: RSpec

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: {}
  schedule:
    - cron: "0 21 * * 6"

permissions:
  contents: read

env:
  CI: "true"
  SE_AVOID_STATS: "true"

jobs:
  rspec:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        ruby: ["4.0.0"]
        mongodb-version: ["7.0", "8.0", "8.2"]

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Ruby
        uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 # v1.278.0
        with:
          ruby-version: ${{ matrix.ruby }}
          rubygems: "latest"
          bundler: "latest"
          bundler-cache: true

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@315db7fe45ac2880b7758f1933e6e5d59afd5e94 # 1.12.1
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - run: bundle exec bootsnap precompile --gemfile
      - run: bundle exec bootsnap precompile app/ lib/ config/ Rakefile
      - run: bundle exec rails zeitwerk:check
      - run: bundle exec rails assets:precompile
      - run: bundle exec rails errbit:bootstrap
      - run: bundle exec rspec
