name: RSpec

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: {}
  schedule:
    - cron: "0 21 * * 6"

permissions:
  contents: read

env:
  CI: "true"
  SE_AVOID_STATS: "true"

jobs:
  rspec:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.4"]
        mongodb-version: ["7.0", "8.0", "8.2"]

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Ruby
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: ${{ matrix.ruby }}
          rubygems: "latest"
          bundler: "latest"
          bundler-cache: true

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@315db7fe45ac2880b7758f1933e6e5d59afd5e94 # 1.12.1
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - run: bundle exec bootsnap precompile --gemfile
      - run: bundle exec bootsnap precompile app/ lib/ config/ Rakefile
      - run: bundle exec rails zeitwerk:check
      - run: bundle exec rails assets:precompile
      - run: bundle exec rake errbit:bootstrap
      - run: bundle exec rspec
