name: Standard

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: {}
  schedule:
    - cron: "0 21 * * 6"

permissions:
  contents: read

jobs:
  standard:
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo-and-containers: true
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Ruby
        uses: ruby/setup-ruby@90be1154f987f4dc0fe0dd0feedac9e473aa4ba8 # v1.286.0
        with:
          rubygems: "latest"
          bundler: "latest"
          bundler-cache: true

      - run: |
          bin/standardrb \
            app/controllers/users_controller.rb \
            app/controllers/unlink_githubs_controller.rb \
            app/controllers/unlink_googles_controller.rb \
            app/interactors/user_destroy.rb \
            spec/factories/app_factory.rb \
            spec/factories/user_factory.rb \
            spec/requests/users_controller_spec.rb \
            spec/requests/unlink_githubs_controller_spec.rb \
            spec/requests/unlink_googles_controller_spec.rb
