name: Standard

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: {}
  schedule:
    - cron: "0 21 * * 6"

permissions:
  contents: read

jobs:
  standard:
    runs-on: ubuntu-24.04

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo-and-containers: true
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Ruby
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          rubygems: "latest"
          bundler: "latest"
          bundler-cache: true

      - run: |
          bin/standardrb \
            app/controllers/users_controller.rb \
            app/controllers/unlink_githubs_controller.rb \
            app/controllers/unlink_googles_controller.rb \
            app/interactors/user_destroy.rb \
            spec/factories/app_factory.rb \
            spec/factories/user_factory.rb \
            spec/requests/users_controller_spec.rb \
            spec/requests/unlink_githubs_controller_spec.rb \
            spec/requests/unlink_googles_controller_spec.rb
