name: Standard

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: {}
  schedule:
    - cron: "0 21 * * 6"

permissions:
  contents: read

jobs:
  standard:
    runs-on: ubuntu-24.04

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo-and-containers: true
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Ruby
        uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
        with:
          rubygems: "latest"
          bundler: "latest"
          bundler-cache: true

      - run: |
          bin/standardrb \
            app/controllers/users_controller.rb \
            app/controllers/unlink_githubs_controller.rb \
            app/controllers/unlink_googles_controller.rb \
            app/interactors/user_destroy.rb \
            spec/factories/app_factory.rb \
            spec/factories/user_factory.rb \
            spec/requests/users_controller_spec.rb \
            spec/requests/unlink_githubs_controller_spec.rb \
            spec/requests/unlink_googles_controller_spec.rb
